/* Reset */
body,
html {
  font-family: "Intro", Arial, Helvetica, sans-serif;
  line-height: 1;
  font-size: 16px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0 0 1rem 0;
  padding: 0;
}
ol,
ul {
  padding-left: 20px;
  line-height: 1.5;
}
img {
  height: auto;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1rem;
}
h5 {
  font-size: 0.8rem;
}
h6 {
  font-size: 0.6rem;
}
a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Source Sans 3", sans-serif;
}

h1 {
  font-size: 6, 25rem;
}

.top-section-wrapper {
  overflow: hidden;
  background: #001d37;
  padding: 0 16px;
}
.top-section {
  color: #fff;
  padding: 80px 0;
  max-width: 1066px;
  margin: 0 auto;
  position: relative;
}

.actual-top-content {
  position: relative;
  z-index: 5;
}

.top-section h1 {
  font-size: 4rem;
  margin: 0;
  line-height: 97.3%;
  max-width: 525px;
}

.intro-text {
  font-size: 1.5rem;
  line-height: 169.3%;
  margin: 1rem 0;
  max-width: 435px;
}

.intro-buttons {
  margin-bottom: 70px;
}

.btn {
  font-size: 1.125rem;
  font-weight: 600;
  display: inline-block;
  background: #475aff;
  border: 2px solid #475aff;
  color: #fff;
  padding: 13px 25px;
  border-radius: 40px;
  margin-right: 10px;
  text-decoration: none;
  transition: all 0.35s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.btn:hover {
  background: #2e40e2;
  border: 2px solid #2e40e2;
}
.btn--outline {
  background: transparent;
  border: 2px solid #fff;
}
.btn--outline:hover {
  background: #fff;
  color: #475aff;
  border: 2px solid #fff;
}

.intro-features {
  display: grid;
  column-gap: 16px;
  row-gap: 16px;
}

@media screen and (min-width: 580px) {
  .intro-features {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 900px) {
  .intro-features {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.intro-feature {
  border: 1px solid rgba(255, 255, 255, 0.24);
  padding: 33px 25px;
}

.intro-feature p {
  margin: 0;
  font-size: 1.0625rem;
  line-height: 150%;
}

.intro-feature h2 {
  font-size: 1.5rem;
  margin: 31px 0 7px 0;
}

.circle {
  width: 617px;
  height: 617px;
  background: #d660ff;
  opacity: 0.85;
  border-radius: 50%;
  filter: blur(150px);
  position: absolute;
  top: 62px;
  right: -390px;
}

.circle--two {
  width: 617px;
  height: 617px;
  background: #6079ff;
  opacity: 0.85;
  border-radius: 50%;
  filter: blur(150px);
  position: absolute;
  top: -365px;
  left: -123px;
}

.page-section {
  background: #fff;
  padding: 70px 16px;
}

.page-section-inner {
  max-width: 1066px;
  margin: 0 auto;
}

.page-section-title {
  font-size: 4rem;
  margin: 0;
  line-height: 1;
}

.pet-filter {
  color: #9f9f9f;
  font-size: 1.15rem;
}

.pet-filter button {
  background: transparent;
  border: none;
  font-family: "Source Sans 3", sans-serif;
  font-size: 1.15rem;
  color: #9f9f9f;
}

.site-footer p {
  text-align: center;
  color: #a6a6a6;
  font-size: 0.875rem;
  margin: 0;
  padding: 0 0 65px 0;
}

.list-of-pets {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  column-gap: 34px;
  row-gap: 16px;
}

.pet-card {
  overflow: hidden;
  display: grid;
  grid-template-columns: 120px 1fr;
  border: 1px solid #f3f3f3;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
}

.pet-card-photo {
  order: 1;
  grid-row: 1;
}

.pet-card-photo img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pet-card-text {
  padding: 18px 16px;
}

.pet-card-text h3 {
  margin: 0 0 5px 0;
  font-size: 1.625rem;
  font-weight: 600;
}

.pet-description {
  font-size: 0.9rem;
  margin: 0 0 1rem 0;
  color: #626262;
  line-height: 150%;
}

.pet-age {
  color: #a2a2a2;
  font-size: 0.85rem;
  margin: 0;
}

@media screen and (min-width: 600px) {
  .pet-description {
    font-size: 1rem;
  }
  .pet-card-text {
    padding: 21px 29px;
  }
  .list-of-pets {
    row-gap: 28px;
  }
  .pet-filter,
  .pet-filter button {
    font-size: 1.375rem;
  }

  .page-section {
    padding: 130px 16px;
  }

  .page-section-title {
    font-size: 5.31rem;
  }

  .intro-buttons {
    margin-bottom: 129px;
  }

  .top-section h1 {
    font-size: 6.25rem;
  }

  .top-section {
    padding: 139px 0;
  }
}
